.container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
}

.container > div {
    width: 25%;
    display: flex;
    padding: 10px;
    justify-content: flex-start;
}