.container {
    font-size: 16px;
    font-weight: bold;
}

.field {
    padding-bottom: 20px;
}

.statusField {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
}

.statusField > span {
    margin-right: 16px;
}