.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    border-radius: 10px;
    padding: 0 8px;
    font-size: 16px;
    background: #fff;
    position: relative;
    box-sizing: border-box;
    height: 64px;
}

.container > div {
    width: 25%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px;
}

.buttons {
    display: flex;
    position: absolute;
    right: 4px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.container > .title {
    width: 35%
}

.container > .worker {
    width: 15%;
}